.slick-slide {
    padding: 5px;
}
.event{
    background: url(/img/bg-home-02.jpg) repeat-x;
    background-size: 100% 100%;
    padding-bottom: 60px;
}
.event_content h1{
    padding-top: 30px;
}



